.carousel-inner
{
    height: 700px;
}

.carousel-inner .carousel-item img
{
    height: 700px;
    object-fit: cover;
}

.carousel-caption h2
{
    color: #0446e0;
    font-weight: bold;
    font-size: 30px;
}

.carousel-caption p 
{
    color: #ffffff;
}

.rowposter{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.rowimg
{
    max-height: 100px;
    object-fit: contain;
    width: 100%;
    box-sizing: content-box;
    transition: transform 450ms;
    margin-right: 7px;
}

.rowimg:hover
{
    transform: scale(1.09);
    cursor: pointer;
}

.largeposter{
    max-height: 300px;
}

.rowposter::-webkit-scrollbar
{
    display: none;
}

/* Media Query pour les écrans de taille moyenne (par exemple, tablettes) */
@media (max-width: 992px) {
    .carousel-inner,
    .carousel-inner .carousel-item img {
        height: 400px; /* Ajustez la hauteur selon vos besoins pour les écrans de taille moyenne */
    }

    .carousel-caption h2 {
        font-size: 20px; /* Ajustez la taille de la police pour les écrans de taille moyenne */
    }
}

/* Media Query pour les écrans de petite taille (par exemple, smartphones) */
@media (max-width: 576px) {
    .carousel-inner,
    .carousel-inner .carousel-item img {
        height: 300px; /* Ajustez la hauteur selon vos besoins pour les petits écrans */
    }

    .carousel-caption h2 {
        font-size: 16px; /* Ajustez la taille de la police pour les petits écrans */
    }
}